@use "sass:math";
@import "src/styles/index";

.input {
  position: relative;
  overflow: hidden;
  &.formError {
    input {
      border-color: #b40101;
    }
  }
  input {
    width: 100%;
    color: #fff;
    padding: 0 rem(16);
    height: rem(42);
    font-size: rem(18);
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.1);
    border: rem(3) solid rgba(255, 255, 255, 0.1);
    border-radius: rem(8);
    transition: background-color 0.2s ease 0s;
    overflow: hidden;
    text-overflow: ellipsis;
    &[disabled] {
      pointer-events: none;
      opacity: 0.6;
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.label {
  font-weight: 700;
  line-height: math.div(22, 18);
  color: #CDCDCD;
  margin-bottom: rem(5);
  text-transform: capitalize;
}