@charset "UTF-8";

@font-face {
  font-family: unispace;
  font-display: swap;
  src: url("../assets/fonts/unispace/unispace-bold.woff2") format("woff2"), url("../assets/fonts/unispace/unispace-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: unispace;
  font-display: swap;
  src: url("../assets/fonts/unispace/unispace-regular.woff2") format("woff2"), url("../assets/fonts/unispace/unispace-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: victorMono;
  font-display: swap;
  src: url("../assets/fonts/victorMono/victorMono.woff2") format("woff2"), url("../assets/fonts/victorMono/victorMono.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}